@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', 'monospace';
}

body {
  background-image: url('/images/cool-retro-term.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828;
  min-height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  width: 700px;
  height: 400px;
  border-radius: 7px;
  background: #282828;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container h2 {
  font-size: 60px;
  color: #33ff00;
  text-shadow: 0 0 10px #ffff;
  animation: glowAnimation 1s ease-in-out infinite alternate;
  padding: 20px 25px;
  border-bottom: 1px solid #ccc;
}

@keyframes glowAnimation {
  from {
    text-shadow: 0 0 10px #33ff00;
  }
  to {
    text-shadow: 0 0 20px #ffff;
  }
}

.container .content {
  margin: 25px 20px 35px;
}


.content .word {
  font-size: 50px;
  font-weight: 500;
  align-items: center;
  text-align: center;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #33ff00;
  display: inline-block;
}

.content input {
  width: 100%;
  height: 45px;
  margin-bottom: -10px; 
  outline: none;
  font-size: 18px;
  text-align: center;
  padding: 0 16px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #d1d1d1;
  color: solid black;
}

.content .details {
  margin: 25px 0 20px;
  color: #33ff00;
}

.details .time {
  font-size: 33px;
}

.details p {
  font-size: 20px;
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; 
}

.refresh-button,
.check-button {
  font-size: 20px;
  margin: 0 80px; 
  border: none;
  border-radius: 5px;
  outline: none;
  width: 100%;
  height: 20px;
  background-color: #aaa;
  cursor: pointer;
}


.check-button {
  background-color: #ffb000;
}

.modal {
  color: #ffff;
  font-size: 14px;
  border-radius: 5px;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
  background-color: transparent;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* ---- ---- wrong word modal   --------*/

.nModal {
  color: #ffff;
  font-size: 14px;
  border-radius: 5px;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); 
}

.mod-content {
  background-color: transparent;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.newclose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* ---- ---- times up modal   --------*/

.gameOverModal {
  color: #ffff;
  font-size: 14px;
  border-radius: 5px;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); 
}

.modContent {
  background-color: transparent;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.twoClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


