/* Importing the Google Fonts VT323 for styling */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root{
  --main-color: #00FF00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace; /* Setting the font family for the entire document */
}

/* Styling the body */
body {
  /* Background image settings */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282828; /* Background color for fallback */
  min-height: 100vh;
  margin: 0;
}

#theme-open {
  position: fixed;
  top: 25px;
  right: 25px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}


.themes-container {
  position: fixed;
  top: 0; right: -100%;
  background: #282828;
  border-left: 1px solid rgba(0,0,0,.1);
  height: 100vh;
  width: 350px;
  z-index: 1000;
  text-align: right;
  padding: 20px;
}

.themes-container.active {
  right: 0;
}
.themes-container #theme-close {
  font-size: 40px;
  color: #fff;
}

.themes-container h3 {
  text-align: center;
  color: #fff;
  border-top: 0;
  border-bottom: 0;
  padding: 15px 0;
  margin: 20px 0;
  cursor: initial;
}

#theme-close {
  cursor: pointer;
}


.themes-container .theme-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.themes-container .theme-colors .firstColor {
  background: #00FF00;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.themes-container .theme-colors .secondColor {
  background: #FF00FF;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.themes-container .theme-colors .thirdColor {
  background:#89CFF0;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.themes-container .theme-colors .fourthColor {
  background: #FFC0CB;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}



.start {
  font-size: 40px;
  color: #ffff;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1; /* Set a lower z-index to place it behind other elements */
}
/* Styling the main container */
.container {
  text-align: center;
  width: 700px;
  height: 445px;
  border-radius: 7px;
  background: #282828; /* Main container background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adding box shadow for depth */
}

/* Styling the heading */
.container h2 {
  font-size: 60px;
  color: var(--main-color); /* Green text color */
  padding: 20px 25px; /* Adding padding to the heading */
  border-bottom: 1px solid #ccc; /* Bottom border for decoration */
}

.container .hint {
  color: #ffff;
}

.container .time {
  color: var(--main-color); 
}

.container .time b {
  color: #FFFFFF;
}

.guess {
  color: #FFD700;
}

/* Styling the content section */
.container .content {
  margin: 25px 20px 35px; /* Adding margin to the content */
}

/* Styling the word display */
.content .word {
  font-size: 50px;
  font-weight: 500;
  align-items: center;
  text-align: center;
  letter-spacing: 20px; /* Letter spacing for word display */
  text-transform: uppercase; /* Uppercase text */
  color: #fff; /* Green text color */
  display: inline-block;
}

/* Styling the user input field */
.content input {
  width: 100%;
  height: 45px;
  margin-bottom: -10px; /* Adjusting margin for alignment */
  outline: none;
  font-size: 18px;
  text-align: center;
  padding: 0 16px; /* Adding padding to the input field */
  border-radius: 5px;
  border: 1px solid #aaa; /* Border for input field */
  background-color: #d1d1d1; /* Background color for input field */
  color: solid black; /* Text color */
}

/* Styling the details section */
.content .details {
  margin: 25px 0 20px;
  color: var(--main-color); 
}

/* Styling the time display */
.details .time {
  font-size: 33px;
}

/* Styling the buttons container */
.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Adding margin to the buttons container */
}

/* Styling the refresh and check buttons */
.refresh-button,
.check-button {
  font-size: 20px;
  margin: 0 80px; /* Adding margin between buttons */
  border: none;
  border-radius: 5px;
  outline: none;
  width: 100%;
  height: 20px;
  background-color: #aaa; /* Default button background color */
  cursor: pointer;
}

/* Styling the check button */
.check-button {
  background-color: #5DA1A0; /* Custom background color for check button */
}

/* Styling the modal */
.modal {
  color: #ffff; /* Text color for modal content */
  font-size: 14px;
  border: none;
  border-radius: 5px;
  display: none; /* Initially hidden */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
}

/* Styling the modal content */
.modal-content {
  background-color: transparent;
  margin: 15% auto; /* Margin for centering the modal */
  padding: 20px;
  border: 1px solid #888; /* Border for modal content */
  width: 80%;
}

/* Styling the close button in the modal */
.close {
  color: #aaa; /* Close button color */
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* Styling the wrong word modal */
#newModal {
  color: #ffff; /* Text color for wrong word modal */
  font-size: 14px;
  border: none;
  border-radius: 5px;
  display: none; /* Initially hidden */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
}

#newModal .newClose {
  text-align: center;
  background-color: transparent;
  margin: 15% auto; /* Margin for centering the modal */
  padding: 20px;
  width: 80%;
}

/* Styling the modal content for wrong word */
.mod-content {
  width: 40%;
  background-color: #282828;
  margin: 15% auto; /* Margin for centering the modal */
  padding: 20px;
  border: 1px solid #888;
}


/* Styling the times up modal */
.gameOverModal {
  color: #ffff; 
  font-size: 14px;
  border-radius: 5px;
  display: none; /* Initially hidden */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
}

/* Styling the modal content for times up */
.modContent {
  width: 40%;
  background-color: #282828;
  margin: 15% auto; /* Margin for centering the modal */
  padding: 20px;
  border: 1px solid #888; /* Border for modal content*/
}

#resetBtn {
  align-items: center;
  font-size: 14px;
  padding: 1px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  margin-top: 5px;
  margin-bottom: 0;
  background-color: #aaa;
  width: 10%;
}

.info-button {
  align-items: center;
  font-size: 14px;
  padding: 1px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  margin-top: 5px;
  margin-bottom: 0;
  background-color: #aaa;
  width: 15%;
}

.modal-content {
  width: 40%;
  background-color: #282828;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;

}

.modal-content .close-instructions {
  color: red;
  display: flex;
  justify-content: right;
  margin-top: -6px;
  padding: 0;
  font-size: 30px;
  cursor: pointer;
}

.modal-content h2{
  color: #ffff;
  animation: none;
  text-shadow: none;
}